#header{
	background-color: lightblue
}

.sub-header ul {
	list-style-type: none;
}
.sub-header li{
	float: right;
	width: 100px;
	padding-top: 10px;

}
.sub-header p {
	float: left
}
.content {
	background-color: blue
}
.Company{
	text-align: center;
	background-color: lightgrey
}
.project {
	text-align: center;
	background-color: lightgreen
}